.categories-container{
    padding: 25px;
    background-color:#fca311;
    width: 300px;
}
table{
    width: 100%;
    margin-top: 20px;
}
td{
    padding: 15px;
}
input[type="checkbox"]{
    cursor: pointer;
    width: 100px;
}
@media screen and (max-width: 600px) {
    .categories-container{
        width: 100%;
        text-align: center;
    }
}
